$container: 960;
$gutter: 20;
$colunas: 16;

/* Definição da propriedade box-sizing */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: $container + px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

/* Limpar os erros de position */
.container:after {
	clear: both;
}

%grid {
	float: left;
	margin-left: ($gutter / 2) + px;
	margin-right: ($gutter / 2) + px;
}

@for $i from 1 through $colunas {
	$width: $container / $colunas * $i - $gutter;
	.grid-#{$i} {
		width: $width + px;
		@extend %grid;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	$container: 768;

	.container {
		width: $container + px;
	}

	@for $i from 1 through $colunas {
		$width: $container / $colunas * $i - $gutter;

		.grid-#{$i} {
			width: $width + px;
		}
	}
}

@media only screen and (max-width: 767px) {
	$container: 300;

	.container {
		width: $container + px;
	}

	%grid {
		width: $container + px;
		margin: 0 0 20px 0;
		float: none;
	}
}
